.allcartitems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__container {
  display: block;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding: 3px;
  color: skyblue;
  border-bottom: 3px solid blue;
}
